In [3]:
import pandas as pd
import numpy as np

### Tworzenie DataFrame

In [4]:
arr2d = np.array([[1, 2, 3], [4, 5, 6]])

In [5]:
pd.DataFrame(arr2d)

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
pd.DataFrame(arr2d, columns=['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6

In [7]:
pd.DataFrame(arr2d, columns=['a', 'b', 'c'], index=['w1', 'w2'])

    a  b  c
w1  1  2  3
w2  4  5  6

### Wybór elementów

In [9]:
np.random.seed(5)
arr_rnd = np.random.rand(5, 5)

In [11]:
df = pd.DataFrame(arr_rnd, index=['A', 'B', 'C', 'D', 'E'], columns=['C1', 'C2', 'C3', 'C4', 'C5'])
df

         C1        C2        C3        C4        C5
A  0.221993  0.870732  0.206719  0.918611  0.488411
B  0.611744  0.765908  0.518418  0.296801  0.187721
C  0.080741  0.738440  0.441309  0.158310  0.879937
D  0.274086  0.414235  0.296080  0.628788  0.579838
E  0.599929  0.265819  0.284686  0.253588  0.327564

In [12]:
df['C1']

A    0.221993
B    0.611744
C    0.080741
D    0.274086
E    0.599929
Name: C1, dtype: float64

In [13]:
df[['C1', 'C3']]

         C1        C3
A  0.221993  0.206719
B  0.611744  0.518418
C  0.080741  0.441309
D  0.274086  0.296080
E  0.599929  0.284686

In [15]:
df['C6New'] = df['C4'] * 2
df

         C1        C2        C3        C4        C5     C6New
A  0.221993  0.870732  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.765908  0.518418  0.296801  0.187721  0.593601
C  0.080741  0.738440  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.414235  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.265819  0.284686  0.253588  0.327564  0.507176

In [16]:
df.drop('C2', axis=1)  # domyślnie axis jest 0 - etykiety (A,B..)

         C1        C3        C4        C5     C6New
A  0.221993  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.518418  0.296801  0.187721  0.593601
C  0.080741  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.284686  0.253588  0.327564  0.507176

In [17]:
df

         C1        C2        C3        C4        C5     C6New
A  0.221993  0.870732  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.765908  0.518418  0.296801  0.187721  0.593601
C  0.080741  0.738440  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.414235  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.265819  0.284686  0.253588  0.327564  0.507176

In [18]:
df = df.drop('C2', axis=1)  # dopiero jak przypiszemy do df działanie, to tabela sie zmienia na stałe

In [19]:
df

         C1        C3        C4        C5     C6New
A  0.221993  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.518418  0.296801  0.187721  0.593601
C  0.080741  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.284686  0.253588  0.327564  0.507176

In [20]:
df.drop('C')  # domyślnie axis 0 , wiec usuwamy wiersz

         C1        C3        C4        C5     C6New
A  0.221993  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.518418  0.296801  0.187721  0.593601
D  0.274086  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.284686  0.253588  0.327564  0.507176

In [25]:
df.loc['A']

C1       0.221993
C3       0.206719
C4       0.918611
C5       0.488411
C6New    1.837222
Name: A, dtype: float64

In [22]:
df.loc[['A', 'D']]

         C1        C3        C4        C5     C6New
A  0.221993  0.206719  0.918611  0.488411  1.837222
D  0.274086  0.296080  0.628788  0.579838  1.257576

In [23]:
df.loc['A', 'C3']

0.20671915533942642

In [26]:
df.loc[['A', 'B'], ['C3', 'C6New']]

         C3     C6New
A  0.206719  1.837222
B  0.518418  0.593601

Wybór warunkowy

In [27]:
df

         C1        C3        C4        C5     C6New
A  0.221993  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.518418  0.296801  0.187721  0.593601
C  0.080741  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.284686  0.253588  0.327564  0.507176

In [28]:
df > 0.5

      C1     C3     C4     C5  C6New
A  False  False   True  False   True
B   True   True  False  False   True
C  False  False  False   True  False
D  False  False   True   True   True
E   True  False  False  False   True

In [29]:
df[df > 0.5]

         C1        C3        C4        C5     C6New
A       NaN       NaN  0.918611       NaN  1.837222
B  0.611744  0.518418       NaN       NaN  0.593601
C       NaN       NaN       NaN  0.879937       NaN
D       NaN       NaN  0.628788  0.579838  1.257576
E  0.599929       NaN       NaN       NaN  0.507176

In [30]:
df[(df > 0.2) & (df < 0.4)]

         C1        C3        C4        C5    C6New
A  0.221993  0.206719       NaN       NaN      NaN
B       NaN       NaN  0.296801       NaN      NaN
C       NaN       NaN       NaN       NaN  0.31662
D  0.274086  0.296080       NaN       NaN      NaN
E       NaN  0.284686  0.253588  0.327564      NaN

In [32]:
df[df['C1'] < 0.5]

         C1        C3        C4        C5     C6New
A  0.221993  0.206719  0.918611  0.488411  1.837222
C  0.080741  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.296080  0.628788  0.579838  1.257576

In [33]:
df = df.reset_index()
df

  index        C1        C3        C4        C5     C6New
0     A  0.221993  0.206719  0.918611  0.488411  1.837222
1     B  0.611744  0.518418  0.296801  0.187721  0.593601
2     C  0.080741  0.441309  0.158310  0.879937  0.316620
3     D  0.274086  0.296080  0.628788  0.579838  1.257576
4     E  0.599929  0.284686  0.253588  0.327564  0.507176

In [35]:
df['new_index'] = [100, 101, 102, 103, 104]
df

  index        C1        C3        C4        C5     C6New  new_index
0     A  0.221993  0.206719  0.918611  0.488411  1.837222        100
1     B  0.611744  0.518418  0.296801  0.187721  0.593601        101
2     C  0.080741  0.441309  0.158310  0.879937  0.316620        102
3     D  0.274086  0.296080  0.628788  0.579838  1.257576        103
4     E  0.599929  0.284686  0.253588  0.327564  0.507176        104

In [36]:
df = df.set_index('new_index')
df

          index        C1        C3        C4        C5     C6New
new_index
100           A  0.221993  0.206719  0.918611  0.488411  1.837222
101           B  0.611744  0.518418  0.296801  0.187721  0.593601
102           C  0.080741  0.441309  0.158310  0.879937  0.316620
103           D  0.274086  0.296080  0.628788  0.579838  1.257576
104           E  0.599929  0.284686  0.253588  0.327564  0.507176

In [37]:
df.loc[103]

index           D
C1       0.274086
C3        0.29608
C4       0.628788
C5       0.579838
C6New    1.257576
Name: 103, dtype: object