In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [np.nan, 5, np.nan], 'C': [7, 8, 9]})
df

     A    B  C
0  1.0  NaN  7
1  2.0  5.0  8
2  NaN  NaN  9

In [4]:
df.isna()

       A      B      C
0  False   True  False
1  False  False  False
2   True   True  False

In [5]:
df.isna().sum() # suma wartości nan

A    1
B    2
C    0
dtype: int64

In [6]:
df.dropna() # dostajemy wiersze gdzie ws\zystkie dane wystepuja

     A    B  C
1  2.0  5.0  8

In [7]:
df.dropna(thresh=2) # wiecej lub równe 2 nan w wierszu zostaną usunięte

     A    B  C
0  1.0  NaN  7
1  2.0  5.0  8

In [8]:
df.dropna(axis=1) # pokazuje wiersz gdzie nie ma nan

   C
0  7
1  8
2  9

In [9]:
df.fillna('NEW_VALUE') # nan zamienione na NEW VALUE

           A          B  C
0        1.0  NEW_VALUE  7
1        2.0        5.0  8
2  NEW_VALUE  NEW_VALUE  9